// Variables
@import 'variables';

#app {
  width: $full;
}

.nav-bar {
  background-color: $white;
  border-bottom: 1px solid #c4cdd17d;
  box-shadow: 0 1px 10px -5px $darkGray;
  display: flex;
  justify-content: space-around;

  .avatar {
    height: $navBarHeight;
    //padding: 4px 4px 4px 8px;
    border-radius: 50%;
    cursor: pointer;
  }

  .nav-bar-item {
    height: inherit;
    padding: 18px 8px 0 8px;
    font-size: 2.4vh;
    font-weight: 100;
  }

  .nav-bar-item:last-child span{
    margin-left: 60%;
  }

  .nav-bar-item:last-child:hover{
    cursor: default;
    border-width: 0;
  }

  .nav-bar-item:hover {
    cursor: pointer;
    border-bottom: 2px solid;
  }
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  background-color: $pubGray;

  .left-section {
    height: inherit;
    width: 20.5%;

    .quick-card {

      border: 1px solid #c4cdd17d;
      box-shadow: 0 1px 10px -5px $darkGray;
      border-radius: 4px;
      width: 90%;
      margin-left: 5%;
      height: 600px;
      background-color: $white;
    }
  }

  .main {
    height: inherit;
    width: 60%;
    padding: 0 12px;
    //background-color: $white;
  }

}

.link {
  color: $dogCoin;
  font-weight: 500;
}