// Variables
@import 'variables';

#app {
  width: $full;
}

.card {
  width: $full;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 10px -5px $darkGray;
}

.nav-bar {
  background-color: $white;
  border-bottom: 1px solid $borderColor;
  box-shadow: 0 1px 10px -5px $darkGray;
  display: flex;
  justify-content: space-around;

  //Start :: comment this to make the nav static
  position: fixed;
  width: 100%;
  //End ::

  .avatar {
    height: $navBarHeight;
    //padding: 4px 4px 4px 8px;
    border-radius: 50%;
    cursor: pointer;
  }

  .nav-bar-item {
    height: inherit;
    padding: 18px 8px 0 8px;
    font-size: 2.4vh;
    font-weight: 100;
  }

  //.nav-bar-item:last-child span {
  //  margin-left: 60%;
  //}

  .nav-bar-item:last-child:hover {
    cursor: default;
    border-width: 0;
  }

  .nav-bar-item:hover {
    cursor: pointer;
    border-bottom: 2px solid;
  }
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  background-color: $pubGray;
  padding-top: 55px;
  padding-bottom: 46px;
}

.line {
  border-width: 0 0 1px 0;
  box-shadow: 0 1px 3px #1da1f23d;
}


.link {
  color: #0b476c;
  font-size: 2.4vh;
  font-weight: 100;
  cursor: pointer;
}

.link-clear{
  color: unset;
  text-decoration: unset;
}

.link:hover {
  text-decoration: underline;
}

.last:hover{
  text-decoration: underline;
}

.header {
  font-size: 2.4vh;
  font-weight: 100;
  padding-bottom: 2px;
  border-bottom: 2px solid;
  margin-bottom: 16px;
}

.input-button {
  font-size: 2.5vh;
  background-color: $white;
  border: 1px solid $borderColor;
  padding: 4px 20px;
  color: $darkGray;
  border-radius: 14px;
}