// Variables
@import 'variables';

.left-section {
  height: inherit;
  width: 19.5%;
  .quick-card {
    width: 90%;
    margin-left: 5%;
    padding: 16% 0 0 10%;
    height: 600px;
  }
}

.main {
  height: inherit;
  width: 58%;
  padding: 0 12px;
}