// Variables
@import 'variables';

//.left-section {
//  height: inherit;
//  width: 19.5%;
//
//  .quick-card {
//    width: 90%;
//    margin-left: 5%;
//    padding: 16% 0 0 10%;
//    height: 600px;
//  }
//}

@media only screen and (max-device-width: 480px) {
  .left-section {
    display: none;
  }
  .main {
    width: 94%;
    margin-left: 2%;
  }

  .main .site-card .sites div {
    width: 94%;
  }

  .profile-card {
    flex-direction: column;

    .profile-avatar {
      order: 0;
    }

    .text-card {
      order: 1;
      margin-left: 10.3%;
    }

    .menu {
      order: 2;
      position: absolute;
      right: 3%;
    }
  }


  .donate {

    span {
      margin-left: 0;
    }

    .donate-input {
      width: 84%;
    }

    .donate-bottom {
      width: 24%;
      margin-left: 38%;
    }
  }
}


@media only screen and (min-width: 960px) {
  .main {
    width: 60%;
  }

  .main .site-card .sites div {
    width: 45.45%;
  }

  .profile-card {
    .text-card {
      margin-left: 12px;
    }
  }

  .donate {

    span {
      margin-left: 25%;
    }

    .donate-input {
      width: 50%;
    }

    .donate-bottom {
      width: 14%;
      margin-left: 44%;
    }
  }
}


.main {
  height: inherit;
  //width: 58%;
  //padding: 0 12px;

  .profile-card {
    padding: 14px 1% 14px 1%;
    //margin-top: 80px;

    .profile-avatar {
      padding: 8px 0 0 0;
      //border-right: 1px solid #c4cdd17d;
    }

    .text-card {
      padding: 0 0 0 12px;
      width: 84.13%;
      border-left: 1px solid #c4cdd17d;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  .site-card {
    width: 100%;
    padding: 0 1%;

    .sites {
      width: inherit;
      margin-top: 60px;
      justify-content: center;

      div {
        height: 276px;
        //width: 45.45%;
        border: 1px solid #5d757f42;
        border-top: unset;
        margin-top: 8px;
        transition: width 0.1s;
      }

      div:hover {
        box-shadow: 0 1px 10px -1px $darkGray;
        width: 52%;
      }

      .first-site {
        margin: 8px 1% 0 0;
      }
    }
  }

  .donate {
    .donate-input {
      //width: 50%;
      //margin-left: 25%;
      padding: 4px 16px;
      margin-top: 60px;
      border: 1px solid #e3e7f1;
      font-size: 2.7vh;
      border-radius: 18px;
    }

    .donate-bottom {
      margin-top: 12px;
      background-color: aliceblue;
      border: 1px solid #e3e7f1;
      font-size: 2.8vh;
      border-radius: 14px;
    }
  }
}

.info-item-head {
  font-weight: 500;
  font-size: 2.4vh;
}