@import "../variables";

.transfer {
  //height: 80px;

  .transfer-item {
    justify-content: space-around;

    .transfer-image {
      float: left;

      img:first-child {
        float: left;
      }

      img:last-child {
        position: absolute;
        left: 21.8%;
      }


      img {
        width: 72px;
        height: 72px;
        border: 4px solid $pubGray;
        border-radius: 50%;
      }
    }

    .transfer-text {
      justify-content: inherit;
      padding: 26px 0 0 4%;
    }
  }
}