@import "../variables";

.transfer {
  //height: 80px;

  .transfer-item {
    justify-content: space-around;

    .transfer-image {
      float: left;

      a:first-child img {
        float: left;
      }

      a:last-child img {
        margin-left: -10%;
      }


      a img {
        width: 72px;
        height: 72px;
        border: 4px solid $pubGray;
        border-radius: 50%;
      }
    }

    .transfer-text {
      justify-content: inherit;
      padding: 26px 0 0 4%;
    }
  }
}