@import "../variables";

@media only screen and (max-device-width: 480px) {
  .box-log {
    width: 100%;
    .log-section {
      width: 96%;
      margin-left: 2%;
    }
  }
}

@media only screen and (min-width: 960px) {
  .box-log {
    width: 60%;
    .log-section {
      width: 80%;
      margin-left: 20%;
    }
  }
}

//
//flying texts
//
.header-text {
  color: $white;
  position: absolute;
  width: 100%;
  .flex-box {
    justify-content: space-between;
    .flex-box {
      padding: 8px 1.5%;
      flex-direction: row;
      width: max-content;
      .nav-link {
        padding-right: 0;
        a {
          padding-left: 12px;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .big-text {
    cursor: default;
    justify-content: center;
    width: 100%;
    position: absolute;
    div {
      .h1 {
        font-size: 16vh;
        font-weight: 600;
        padding: 8px 3%;
      }
      .h-text {
        font-size: 3vh;
        margin-bottom: 12px
      }
      .head-button {
        span {
          cursor: pointer;
        }
      }
      //.head-button {
      //  border: 0px solid $gray;
      //  background: linear-gradient(225deg, $dogCoin, #4992ff);
      //  color: $white;
      //  padding: 8px 6%;
      //  font-size: 2vh;
      //  border-radius: 4px
      //}
    }
  }
}

//
//flying texts
//

.space {
  background: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);
  transition: background 2s;
}

.text {
  text-align: center;
  background-color: $white;
  font-size: 2.5vh;
  padding: 8% 0;
  div {
    font-size: 4vh;
    font-weight: 500;
  }
  a {
    button {
      border: 2px solid $dogCoin;
      background-color: inherit;
      color: $dogCoin;
      font-size: 3vh;
      margin-top: 20px;
      padding: 6px 1%;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

/**
*Login sections styles
**/
.login {
  box-shadow: inset 0 1px 10px -3px $darkGray;
}

.box-log {
  padding: 5% 0;
  .log-section {
    .head {
      font-size: 3vh;
      margin: 0 0 8px 0;
    }
    .log-card {
      width: 100%;
      margin-top: 28px;
      .text-log {
        padding: 18px 2% 0 8%;
        width: 50%;

        div {
          input {
            width: 100%;
            padding: 4px 1%;
            border: 1px solid $borderColor;
            border-radius: 4px;
          }
        }

        div:first-child {
          padding: 6px 0;
        }

        div:last-child {
          padding: 6px 0 12px 0;
        }
        span:last-child {
          color: #4992ff;
          font-weight: 400;
        }
      }

      .line {
        border-bottom-width: 4px;
      }

      .log-footer {
        padding: 6px 2% 10px 8%;
        font-size: 1.9vh;
        div {
          .span-link {
            color: #4992ff;
            text-decoration: underline;
          }
        }
      }

      .card-footer {
        padding: 0 2% 10px 8%;
        button {
          background-color: $dogCoin;
          border: 1px solid $gray;
          padding: 6px 3%;
          color: $white;
          border-radius: 14px;
        }
      }
    }

    .login-using {
      margin: 5% 0 0 15%;
      width: 70%;
      .flex-box {
        justify-content: space-evenly;
        img {
          cursor: pointer;
          width: 68px;
          height: 68px;
          border-radius: 50%;
          padding: 30%;
        }
        a:first-child img {
          padding: 10%;
        }
        a:last-child img {
          padding: 20%;
        }
      }
    }
  }
}

/**
*Login sections styles
**/